<div class="container">
  <div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2>Add a new meeting room and make money !</h2>

      <%= simple_form_for(@meeting_room) do |f| %>
      <%= f.input :name, label: "Name of your venue :" %>
      <%= f.input :description, label: "Please describe it:" %>
      <%= f.input :hourly_price, label: "Hourly price:", as: :float %>
      <%= f.input :n_people, label: "How many people can this room contain ?", as: :integer%>
      <%= f.input :address, label: "Where is it located ?" %>
      <%= f.input :layout, label: "What is the layout of this room ?" %>
      <%= f.input :morning, label: "Is it open in the morning?", as: :boolean %>
      <%= f.input :afternoon, label: "Is it open in the evening?", as: :boolean %>
      <%= f.input :saturday_open, label: "Is it open on Saturday?", as: :boolean %>
      <%= f.input :sunday_open, label: "Is it open on Sunday?", as: :boolean %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :user_id, input_html: { value:  user_signed_in? ? current_user.id : 1 }, as: :hidden %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
